@charset "UTF-8";
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';
app-day {
  background-color: #82A383;
  color: #F7F7F7;
  border-radius: 1rem;
  font-size: 2.5rem;
  text-align: center;
  aspect-ratio: 1/1;
}
app-day:hover {
  box-shadow: 0 5px 10px rgba(35, 35, 35, 0.2);
}

app-news-article {
  background-size: cover;
  min-height: 18rem;
  flex: 1 0 0;
}
app-news-article > span {
  color: white;
}

html {
  font-size: 62.5%;
  /* tzn 10px, protože standard je 16px */
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  /* tzn uživatel si může sám měnit velikost písma podle své potřeby */
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
}

/* 4 novinky vedle sebe */
.header-news {
  text-decoration: underline;
  color: gray;
}

header.header-news {
  min-height: 18rem;
  display: flex;
}

header.header-news > div {
  flex: 1 0 0;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 0rem 0rem 1rem 1rem;
}

.main-content__day {
  aspect-ratio: 1/1;
  border: 1px solid rgba(0, 0, 0, 0.3);
  width: calc(100% / 7 - 2rem);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content__day:hover {
  background-color: rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: 0.3s;
}

header.header-news {
  position: relative;
  min-height: 18rem;
}
header.header-news > button {
  position: absolute;
  top: 0;
  height: 100%;
  border: none;
  background-color: transparent;
  color: rgba(35, 35, 35, 0.4);
  cursor: pointer;
  border-radius: 0;
  user-select: none;
  transition: 0.5s;
}
header.header-news > button.last {
  right: 0;
}
header.header-news > button:focus {
  outline: none;
}
header.header-news > button:hover {
  color: #232323;
  background-color: rgba(247, 247, 247, 0.4);
}
header.header-news > div.header-news__container {
  display: flex;
}

section.main-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

section.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(35, 35, 35, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  min-width: 35rem;
  background-color: #F7F7F7;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(35, 35, 35, 0.3);
  padding: 1rem;
}

.modal-header {
  display: flex;
}
.modal-header > *:first-child {
  flex: 1 0 0;
}

.separator {
  border-bottom: 1px solid rgba(35, 35, 35, 0.3);
  margin: 1rem 0;
}

.modal-actions {
  padding-top: 1rem;
}

#modal-form {
  display: flex;
  flex-direction: column;
}
#modal-form .row {
  display: flex;
  padding: 8px 0;
  justify-content: space-between;
  position: relative;
}
#modal-form .row::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(35, 35, 35, 0.3);
}

.hidden {
  display: none !important;
}

/*# sourceMappingURL=style.css.map */
